{% extends 'base.html.twig' %}

{% block title %}Extension index{% endblock %}

{% block body %}
    <h1>Extension index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>ApkName</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for extension in extensions %}
            <tr>
                <td>{{ extension.id }}</td>
                <td>{{ extension.nom }}</td>
                <td>{{ extension.apkName }}</td>
                <td>{{ extension.updatedAt ? extension.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_extension_show', {'id': extension.id}) }}">show</a>
                    <a href="{{ path('app_extension_edit', {'id': extension.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_extension_new') }}">Create new</a>
{% endblock %}
