{% extends 'base.html.twig' %}

{% block title %}Langue index{% endblock %}

{% block body %}
    <h1>Langue index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomlangue</th>
                <th>Sigle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for langue in langues %}
            <tr>
                <td>{{ langue.id }}</td>
                <td>{{ langue.nomlangue }}</td>
                <td>{{ langue.sigle }}</td>
                <td>
                    <a href="{{ path('app_langue_show', {'id': langue.id}) }}">show</a>
                    <a href="{{ path('app_langue_edit', {'id': langue.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_langue_new') }}">Create new</a>
{% endblock %}
